
{% extends "blog/base.html" %}
{% block content %}
  <h1>About Our Blog</h1>
  </br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin cursus 
    libero, eget egestas massa porttitor eget. In sollicitudin vehicula velit, eget 
    aliquet nisl tempor sit amet. Ut vitae pretium lacus, quis cursus augue. Vivamus 
    vel augue in magna scelerisque vulputate blandit venenatis libero. Nam suscipit 
    vestibulum mi in pellentesque. Phasellus in dapibus tellus, in sodales dui. Ut nec 
    lectus ex. Donec ac lorem mattis, mattis neque quis, commodo velit.
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}